@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-plex-sans);
  --font-mono: var(--font-plex-mono);
  --font-archivo: var(--font-archivo);
}

body {
  font-family: var(--font-plex-sans), ui-sans-serif, system-ui, sans-serif;
}
